.main-home-container {
  width: 100%;
}

.section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field {
  display: flex;
  gap: 2%;
  align-items: center;
  margin-top: 2%;
  flex-wrap: wrap;
}

.sumit-order-btn {
  margin-top: 3%;
}

@media (max-width: 768px) {
  .section-container {
    gap: 2%;
    display: block;
  }
  .card-component {
    margin-top: 10%;
  }
}
